.card {
  /* width: 180px; */
  width: calc(20% - 8px);
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.4s all;
}
.card:hover .card {
  box-shadow: rgba(0, 0, 0, 0.24);
}
.imageContainer:hover img {
  transform: scale(1.2) rotate(5deg);
}
.bottomContent {
  width: 100%;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 70px;
  color: black;
  background-color: rgb(226, 226, 230);
}
.bottomContent p {
  font-weight: 900;
  color: #242424;
}

.imageContainer {
  overflow: hidden;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.imageContainer img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}
@media (max-width: 1200px) {
  .card {
    width: calc(25% - 9px);
  }
}

@media (max-width: 992px) {
  .card {
    width: calc(33.3% - 9px);
  }
}
@media (max-width: 768px) {
  .card {
    width: calc(50% - 9px);
  }
  .detailsContainer {
    display: block;
  }
}
@media (max-width: 576px) {
  .card {
    width: calc(100%);
  }
  .imageContainer {
    height: 300px;
  }
  .bottomContent {
    height: 90px;
   gap: 15px;
  }
  .bottomContent p {
   font-size: 20px;
  }
}
