.formWrapper {

  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
  background-color: #7f7f7f;
}
.form {
  padding: 0 80px;
  padding: 50px 45px;

  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 30px;
}
.form input {
  height: 30px;
  width: 100%;

}

.datePicker {
  width: 100%;
}

.personCount {
  color: transparent;
 border: 1px solid black;
 

}
.makeReservationBtn{
width: fit-content;

}
